kandhimallayashwanth7_db_user

F0gRCjwzdR71xDLY


mongodb+srv://kandhimallayashwanth7_db_user:yashwanth@cluster0.84rgmmx.mongodb.net/?appName=Cluster0



yashwanthnode_modules/ 
venv/ 
__pycache__/ 
.env 


node_modules/
venv/
__pycache__/
*.pyc
.env
dist/
*.safetensors
